<!-- templates/account/login.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Enregistrement | Afro Yaca Drum{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/login.css' %}?version=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/registration.css' %}?version=1" />
{% endblock %}


{% block content %}

   <header id="header">
    <div class="header_top">
      <div class="container">
        <div class="row" style="margin-left: 0px; margin-right: 0px">
          <div class="col-sm-6">
            <div class="contactinfo">
              <ul class="nav nav-pills">
                <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="social-icons pull-right">
              <ul class="nav navbar-nav">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header-middle">
      <div class="container">
        <div class="row" style="padding-top: 0; padding-bottom: 0 ">
          <div class="col-md-4 clearfix">
            <div class="logo pull-left">
              <a href="/"><img class="img-fluid" width="120px" src="/static/images/logo.jpg" alt="" /></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="open_day_wrapper">
              <span class="open_day_title">Heures d'ouverture</span> <br />
              <span class="open_day">Lundi à Vendredi: 8h - 20h</span> <br />
              <span class="open_day">Samedi: 8h - 20h</span> <br />
            </div>
          </div>
          <div class="col-md-4 clearfix shop-menu-clear">
            {% if not "/auth/web/login" == request.path %}
            <div class="shop-menu clearfix pull-right">
              <ul class="nav navbar-nav">
                <li><a href="/favorites/"><i class="far fa-heart fa-2x"></i> <span class="heart-custom-badge badge badge-secondary">{{ favourite_items_quantity }}</span></a></li>
                <li class="dropdown cart-link">
                  <a href="/carts/" class="nav-link">
                    <i class="fa fa-shopping-cart fa-2x"></i> <span class="custom-badge badge badge-secondary">{{ cart_items_quantity }}</span>
                  </a>


                  <!--div class={`shopping-cart_item_add_wrapper ${ new_item ? 'active' : null }`}-->
                  <div class="shopping-cart_item_add_wrapper">
                    <i class="fa fa-chevron-up fa-2x custom-fa"></i>
                    <div class="shopping-cart_item_add">
                      <div class="img-wrapper">
                        <img src="/static/images/dress2.png"  class="cart_flash_add_image" alt="" />
                      </div>
                      <div class="btn-wrapper">
                        <Button
                          type="submit"
                          fullWidth
                          variant="contained"
                          color="secondary"
                        >
                          Retirer du panier
                        </Button>
                      </div>
                    </div>
                  </div>
                </li>
                  {% if user.is_authenticated %}
                    <div class="logged_in_bloc">
                      <span class="dropdown-toggle user_middle_nav" data-toggle="dropdown">
                        <i class="fa fa-user fa-2x"></i>
                      </span>
                      <ul class="dropdown-menu" style="z-index : 2000">
                        <li
                          class="user_middle_nav_li"
                          style="border-bottom: 1px solid lightgrey; padding-bottom: 10px"
                        >
                          <a href="/account/my-orders/">Mes commandes</a>
                        </li>
                        <li
                          class="user_middle_nav_li"
                          style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid lightgrey"
                        >
                          <a href="/account/service/oh-my-box/">Ma Box</a>
                        </li>
                        <li
                          class="user_middle_nav_li"
                          style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid lightgrey"
                        >
                          <a href="/account/settings/">Préférences</a>
                        </li>
                        <li
                          class="user_middle_nav_li"
                          style="padding-top: 10px"
                        >
                          <a href="/auth/web/logout">Se déconnecter</a>
                        </li>
                      </ul>
                    </div>

                  {% else %}
                    <a href="/auth/web/login">
                      <img
                        src="/static/images/icons/login.png"
                        alt="Icon login"
                        style="width: 30px; margin-bottom: 15px"
                      />
                    </a>
                  {% endif %}
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>


    <div class="container-fluid">
      <div class="row" style="height: 100%">
        <div class="col-md-6 col-xs-12">
          <div class="container" style="padding-left: 60px; padding-top: 20px">
            <a href="{% url 'login' %}">
              <i class="fa fa-arrow-left" style="margin-right: 10px"></i>
              <span class="">Revenir en arrière</span>
            </a>
          </div>
          <form class="login100-form validate-form" autocomplete="off">
              <span class="login100-form-title p-b-43">
                  Inscrivez-vous
              </span>
              <div style="padding-bottom: 15px">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" checked>
                  <label class="form-check-label" for="inlineRadio2">Madame</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Monsieur</label>
                </div>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Saisissez un nom">
                  <input class="input100" type="text" name="name" autocomplete="off">
                  <span class="focus-input100"></span>
                  <span class="label-input100">Nom</span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Saisissez un prénom">
                  <input class="input100" type="text" name="surname" autocomplete="off">
                  <span class="focus-input100"></span>
                  <span class="label-input100">Prénom</span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="La date de naissance est obligatoire">
                  <input class="input100" type="date" name="date" autocomplete="off">
                  <span class="focus-input100"></span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Insérer une adresse email valide ex@abc.xyz">
                  <input class="input100" type="text" name="email" autocomplete="off">
                  <span class="focus-input100"></span>
                  <span class="label-input100">Email</span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Le mot de passe est obligatoire">
                  <input class="input100" type="password" name="password">
                  <span class="focus-input100"></span>
                  <span class="label-input100">Mot de passe</span>
              </div>
              <div class="form-check form-check-inline" style="padding-top: 10px">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1" style="padding-left: 10px">S'inscrire à la newsletter de AYD</label>
              </div>
              <div class="form-group" style="margin-top: 40px">
                <label for="exampleFormControlTextarea1">Condition générales d'utilisation</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled="true" style="resize: none;">
Les données identifiées par une * sont nécessaires pour ce traitement. Le fait de ne pas les communiquer rendrait impossible le traitement de votre demande.
Vos données font l’objet d’un traitement par les sociétés BUNSHA SAS et KIABI Europe conjointement responsables, destiné au suivi de votre commande, au suivi du programme de fidélité si vous y avez souscrit, à la gestion de notre relation commerciale, et à l’envoi d’offres commerciales si vous donnez votre accord. Vous êtes susceptibles de recevoir nos offres commerciales par voie postale à votre adresse de facturation. Vous pouvez vous y opposer à tout moment en contactant les adresses mentionnées ci-dessous. Elles pourront être utilisées pour la réalisation d’analyses de préférences. Kiabi partage certaines données avec ses partenaires membres de l’alliance VALIUZ. Pour plus de détails sur les conditions de ce traitement ou pour vous opposer à ce traitement, cliquez ici www.valiuz.com ou pour vous opposer https://valiuz.com/mes-droits
Vous disposez d’un droit d’accès, de rectification, de portabilité, de limitation, d’effacement, de transmission de directives anticipées et d’opposition aux données vous concernant en contactant contact@kiabi.com ou en cas de difficultés, vous pouvez envoyer un email à : dataprotectionofficer@kiabi.com

Pour en savoir plus : Mes données personnelles

                </textarea>
              </div>
              <div class="container-login100-form-btn">
                  <button class="login100-form-btn">
                      Valider mon inscription
                  </button>
              </div>

              <div class="text-center p-t-46 p-b-20">
                  <p class="txt2 text-center">
                      Ce site est protégé par reCAPTCHA. <a href="https://policies.google.com/privacy">Les règles de confidentialité</a> et <a href="https://policies.google.com/terms">les conditions d’utilisation de Google</a> s’appliquent.
                  </p>
              </div>

          </form>
        </div>
        <div class="col-md-6 pic_bloc" style="padding: 0px; width: 100%; background-image: url('/static/images/rob2.jpg'); background-size: cover">
          PIC
        </div>
      </div>
    </div>


{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/auth/main.js' %}"></script>
{% endblock %}
