<!-- templates/account/login.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Enregistrement | Afro Yaca Drum{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/login.css' %}?version=1" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/registration.css' %}?version=1" />
{% endblock %}


{% block content %}
    <div class="container-fluid">
      <div class="row" style="height: 100%">
        <div class="col-md-6 col-xs-12">
          <div class="container" style="padding-left: 60px; padding-top: 20px">
            <a href="{% url 'login' %}">
              <i class="fa fa-arrow-left" style="margin-right: 10px"></i>
              <span class="">Revenir en arrière</span>
            </a>
          </div>
          <form class="login100-form validate-form" autocomplete="off" method="post" action="{% url 'registration' %}">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <span class="login100-form-title p-b-43">
                  Inscrivez-vous
              </span>
              <div style="padding-bottom: 15px" class="text-center">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="female" value="female" checked>
                  <label class="form-check-label" for="female">Madame</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                  <label class="form-check-label" for="male">Monsieur</label>
                </div>
              </div>

              <div class="error_form">{{ form.first_name.errors }}</div>
              <div class="wrap-input100 validate-input" data-validate="Saisissez un nom">
                  {{ form.first_name }}
                  <span class="{% if not form.first_name.errors %}focus-input100{% else %}focus-input100_error{% endif %}"></span>
                  <span class="label-input100">Nom</span>
              </div>

              <div class="error_form">{{ form.last_name.errors }}</div>
              <div class="wrap-input100 validate-input" data-validate="Saisissez un prénom">
                  {{ form.last_name }}
                  <span class="{% if not form.last_name.errors %}focus-input100{% else %}focus-input100_error{% endif %}"></span>
                  <span class="label-input100">Prénom</span>
              </div>

              <div class="error_form">{{ form.birth_date.errors }}</div>
              <div class="wrap-input100 validate-input" data-validate="La date de naissance est obligatoire">
                  {{ form.birth_date }}
                  <span class="{% if not form.birth_date.errors %}focus-input100{% else %}focus-input100_error{% endif %}"></span>
              </div>

              <div class="error_form">{{ form.email.errors }}</div>
              <div class="wrap-input100 validate-input" data-validate="Insérer une adresse email valide ex@abc.xyz">
                  {{ form.email }}
                  <span class="{% if not form.email.errors %}focus-input100{% else %}focus-input100_error{% endif %}"></span>
                  <span class="label-input100">Email</span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Le mot de passe est obligatoire">
                  {{ form.password }}
                  <span class="focus-input100"></span>
                  <span class="label-input100">Mot de passe</span>
              </div>
              <div class="form-check form-check-inline" style="padding-top: 10px">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1" style="padding-left: 10px">S'inscrire à la newsletter de AYD</label>
              </div>
              <div class="form-group" style="margin-top: 40px">
                <label for="exampleFormControlTextarea1">Condition générales d'utilisation</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled="true" style="resize: none;">
                    {{ cgu }}
                </textarea>
              </div>
              <div class="container-login100-form-btn">
                  <button class="login100-form-btn">
                      Valider mon inscription
                  </button>
              </div>

              <div class="text-center p-t-46 p-b-20">
                  <p class="txt2 text-center">
                      Ce site est protégé par reCAPTCHA. <a href="https://policies.google.com/privacy">Les règles de confidentialité</a> et <a href="https://policies.google.com/terms">les conditions d’utilisation de Google</a> s’appliquent.
                  </p>
              </div>

          </form>
        </div>
        <div class="col-md-6 pic_bloc" style="padding: 0px; width: 100%; background-image: url('/static/images/rob2.jpg'); background-size: cover">
          PIC
        </div>
      </div>
    </div>


{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/auth/main.js' %}"></script>
{% endblock %}
