horizontal_scroll/node_modules/
*.pyc
afroyacaCore/.idea
afroyacaCore/.cache
afroyacaCore/media
py3venv/
VPS/
afroyacaCore/node_modules/
afroyacaCore/webpack_stats/
afroyacaCore/static/dist/
afroyacaCore/TODO
Pictures/
afroyacaCore/afroyacaCore/settings.txt
afroyacaCore/afroyacaCore/secretkey.txt
