.nav-tabs.setting {
    border-bottom: 1px solid #ddaa44;
}

.setting.nav-item .nav-link{
  color: #ddaa44 !important;
  width: 150px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0) !important;
  transition: ease-out 0.3s;
}

.setting.nav-item .nav-link:hover{
  border: 1px solid #ddaa44 !important;
  transition: ease-in 0.3s;
}

.setting.nav-item .nav-link.active{
  background-color: #ddaa44 !important;
  color: #fff !important;
}

.address_entry, .add_ddress_bloc_new{
  height: 200px;
  border: 1px solid lightgray;
  margin: 20px 0;
  padding: 10px 20px;
  display: block;
  width: 100%;
  transition: 0.3s ease-in;
}

.plus_box i{
  color: black;
}

.address_entry:hover, .add_ddress_bloc_new:hover{
  cursor: pointer;
  border: 1px solid black;
  transition: 0.3s ease-out;
}

#address_radioboxes input[type=radio]{
  display: none;
}

#address_radioboxes input[type=radio]:checked + .address_entry{
  border: 1px solid black;
}