{% extends 'base.html' %}
{% load static %}

{% block title %}Mot de passe oublié | Afro Yaca Drum{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8 pt-5 pb-5">
        <p>
          Nous vous avons envoyé les instructions de réinitialisation de votre mot de passe à l''adresse mail saisie. Si
          un compte existe avec cette adresse mail, vous allez recevoir un email dans quelques instants.
        </p>
        <p>
          Si vous ne recevez pas d'email, vérifier si l'adresse email que vous avez saisie coreespond à votre email
          d'authentification ou vérifiez dans le repertoire des spam de votre service de messagerie.
        </p>
        <p>
          <a href="{% url 'home' %}" class="">Cliquer ici</a> pour revenir à l'accueil.
        </p>
        </div>
    </div>
  </div>
{% endblock %}