{% extends 'base.html' %}
{% load static %}

{% block title %}Réinitialiser le mot de passe  | Afro Yaca Drum{% endblock %}

{% block custom_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/login.css' %}?version=1" />
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-8 pt-5 pb-5">
        {% if validlink %}
          <h3 class="text-center pb-3">Changer de mot de passe</h3>
          <form method="post" class="pt-3">
            {% csrf_token %}
            <div class="wrap-input100 validate-input" data-validate="Mot de passe invalide">
              <input class="input100" type="password" name="{{ form.new_password1.name }}" autocomplete="false" required="true">
              <span class="focus-input100"></span>
              <span class="label-input100">Nouveau mot de passe</span>
            </div>
            <div class="indicators pb-3" style="padding-left: 20px">
              <p>
                <span>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.<br /></span>
                <span>Votre mot de passe doit contenir au minimum 8 caractères.<br /></span>
                <span>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.<br /></span>
                <span>Votre mot de passe ne peut pas être entièrement numérique.</span>
              </p>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Les deux mots de passes ne sont pas identique">
              <input class="input100" type="password" name="{{ form.new_password2.name }}" autocomplete="false" required="true">
              <span class="focus-input100"></span>
              <span class="label-input100">Confirmation du nouveau mot de passe</span>
            </div>
            <div class="container-login100-form-btn">
              <button class="login100-form-btn" type="submit">
                Changer de mot de passe
              </button>
          </div>
          </form>
        {% else %}
          <p>
            Le lien de réinitialisation du mot de passe est invalide, il se pourrait qu'il a deja été utilisé.
            Bien vouloir recommencer une nouvelle requête de réinitialisation de mot de passe.
          </p>
        {% endif %}
        </div>
    </div>
  </div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/auth/main.js' %}"></script>
{% endblock %}