.command-summary-wrapperr{
    padding: 20px;
    width: 100%;
}

.command-summary{
    border: 1px solid black;
    width: 100%;
    padding: 20px;
}

.command-total-group p{
    text-align: right;
}

.command-total-group{
    /* border-bottom: 1px solid lightgray; */
}

.line-total .price-total{
    text-align: right;
}

.line-total{
    padding-top: 10px;
}


.product-row{
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}

.command-product-wrapper {
    margin-top: 30px;
}

.command-product-wrapper h5{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 100%;
}

.command-picture-box, .command-picture-summary{
    padding-left: 0px;
}


.step4-wrapper{
    position: relative;
    width: 100%;
    padding: 20px 0px 90px;
}

.step4-body{
    position: absolute;
    width: 100%;
    top: 25%;
}

.step4-body h2{
    text-align: center;
    text-transform: uppercase;
}

.whole_stepper_content{
    padding: 20px 30px;
}

.step_one_bloc h2, .step_two_bloc h2, .step_three_bloc h2{
    text-transform: uppercase;
}







.plus_box i:hover{
    cursor: pointer;
    font-weight: bolder;
}


.place_delivery_choice{
    margin-top: 40px;
}

.place_delivery_choice h2{
    text-transform: uppercase;
}















.delivery_method p{
    margin-bottom: 5px !important;
}
.delivery_method h6{
    text-transform: uppercase;
}

.delivery_hour{
    padding-left: 28px;
}

.cgv{
    margin-top: 40px;
    margin-bottom: 30px;
}

.step3 .anticon.anticon-right.ant-collapse-arrow{
    padding-top: 30px !important;
}

.step3-detail{
    padding-top: 15px;
    padding-bottom: 15px;
}

.mompay-wrapper{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.logo-momo{
    margin-right: 10px;
}

.checkout-submit-button input{
     border-radius: 0px;
     padding: 8px 40px;
     text-transform: uppercase;
}




/* --------Responsive--------- */
/* XS */
@media (max-width: 767px) {
    .checkout_btn_wrapper {
        padding-top: 30px;
    }
}
