.product_list_filter_block {
    padding: 0px;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    width: 100%;
    border-radius: 5px;
}

:global {
  .ant-collapse-header {
      color: #ddaa44 !important;
      text-transform: uppercase;
      font-weight: bold;
   }
}

:global {
   .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child{
    border-color: #ddaa44 !important;
    background: #ddaa44 !important;
  }

  .ant-radio-button-wrapper-checked .ant-radio-inner:after{
    background-color: #ddaa44 !important;
    background: #ddaa44 !important;
  }

  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    border-color: #ddaa44 !important ;
    color: #fff !important;
    background: #ddaa44 !important;
  }

  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
    border-color: #ddaa44 !important ;
    color: #fff !important;
    background: #ddaa44 !important;
  }

  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    border-color: #ddaa44 !important ;
    color: #fff !important;
    background: #ddaa44 !important;
  }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active::before {
      background-color: #ddaa44 !important;
  }

  .ant-radio-button-wrapper:hover {
    color: #ddaa44 !important;
  }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
    background-color: #ddaa44 !important;
  }
}

.checkBoxControlStyle {
  margin-bottom: 0;
  margin-top: 0
}

.checkBoxStyle {
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px 10px;
}