<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block meta_tags %}
  <meta name="description" content="Vente des vêtements afro, chics et tendances."
      xmlns:padding-left="http://www.w3.org/1999/xhtml"/>
  <meta name="keywords" content="AFY,Fashion,Mode,Afro" />
  <meta property="og:description" content="Vente des vêtements afro, chics et tendances" />
  <meta property="og:title" content="Afro Yaca Drum" />
  <meta property="og:url" content="http://www.afroyacadrum.cm" />
  <meta property="og:image" content="http://www.afroyacadrum.cm/static/images/acc.jpg" />
{% endblock %}

{% block title %}Checkout | Afro Yaca Drum{% endblock %}

{% block custom_style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/checkout/checkout.css' %}?version=1" />

  <style>
      .delivery_type{
        border: 1px solid lightgray;
        margin: 20px 0;
        padding: 10px 20px;
        display: block;
        width: 100%;
        transition: 0.3s ease-in;
      }

      .delivery_type:hover{
        cursor: pointer;
        border: 1px solid black;
        transition: 0.3s ease-out;
      }

      #delivery_radioboxes input[type=radio]{
        display: none;
      }

      #delivery_radioboxes input[type=radio]:checked + .delivery_type{
        border: 1px solid black;
      }

      .address_entry, .add_ddress_bloc_new{
        height: 200px;
        border: 1px solid lightgray;
        margin: 20px 0;
        padding: 10px 20px;
        display: block;
        width: 100%;
        transition: 0.3s ease-in;
      }

      .plus_box i{
        color: black;
      }

      .address_entry:hover, .add_ddress_bloc_new:hover{
        cursor: pointer;
        border: 1px solid black;
        transition: 0.3s ease-out;
      }

      #address_radioboxes input[type=radio]{
        display: none;
      }

      #address_radioboxes input[type=radio]:checked + .address_entry{
        border: 1px solid black;
      }
    </style>
{% endblock %}

{% block content %}
  <section style="padding-top: 50px; padding-bottom: 50px; background-color: white">
      <form class="container whole_stepper_content" action="" method="POST">
        {% csrf_token %}
        <div class="row justify-content-center">
          <div class="col-sm-8">
            {% if 1 == step %}
              <div class="row" style="width: 100%; margin-right: 0; margin-left: 0">
                <div class="col-md-12">
                  <div class="step_one_bloc">
                    <h2>Adresse de Livraison</h2>
                    <p>
                      Sélectionner votre adresse de livraison pour connaître les options de livraison et les délais.
                      Les restrictions de livraison appliquées peuvent nous contraindre à refuser votre commande.
                    </p>
                    <div class="row" style="margin-right: 0; margin-left: 0">
                      {% if contacts %}
                        {% for contact in contacts %}
                          <div class="col-6" style="padding-left: 0">
                            <div id="address_radioboxes">
                              {% if contact.main is True %}
                                <input type="radio" name="address_entry" value="{{ contact.id }}" id="contact_{{ contact.id }}" checked required />
                              {% else %}
                                <input type="radio" name="address_entry" value="{{ contact.id }}" id="contact_{{ contact.id }}" required />
                              {% endif %}
                              <label for="contact_{{ contact.id }}" class="address_entry">
                                <div
                                  class="address_bloc"
                                >
                                  <div class="add_address_bloc">
                                    <h5 style="text-transform: uppercase">
                                      {{ contact.profile.last_name }} {{ contact.profile.first_name }}
                                    </h5>
                                    <h5>{{ contact.city }}, {{ contact.country }}</h5>
                                    <h6>{{ contact.address }}, {{ contact.address_precision }}</h6>
                                    <h6>Tél: (+237) {{ contact.phone }}</h6>
                                  </div>
                                </div>
                              </label>
                            </div>

                          </div>
                        {% endfor %}
                      {% endif %}

                      {% if dim_contact < 2 %}
                        <div class="col-md-6" style="padding-right: 0; {% if not contacts %}padding-left: 0{% endif %}">
                          <a href="#" class="add_ddress_bloc_new">
                            <div class="">
                              <h6>Nouvelle adresse</h6>
                            </div>
                            <div class="plus_box">
                              <i class="fa fa-plus"></i>
                            </div>
                          </a>
                        </div>
                      {% endif %}

                    </div>

                    <div class="place_delivery_choice">
                      <h2>Obtenir votre commande</h2>
                      <div id="delivery_radioboxes">
                        <input type="radio" name="delivery_method" value="standard" id="standard" checked required />
                        <label for="standard" class="delivery_type">
                          <div
                            class="delivery_method standard_delivery"
                          >
                            <h6>D'ici 2 à 3 jours </h6>
                            <p>
                              <i class="fas fa-truck" style="margin-right: 10"></i>
                              <span class="">Livraison Standard</span>
                            </p>
                            <p class="delivery_hour">
                              08:00 - 18:00
                            </p>
                          </div>
                        </label>
                        <input type="radio" name="delivery_method" value="express" id="express" required />
                        <label for="express" class="delivery_type">
                          <div
                            class="delivery_method fast_delivery"
                          >
                            <h6>Aujourd'hui ou demain matin </h6>
                            <p>
                              <i class="fas fa-shipping-fast" style="margin-right: 10"></i>
                              <span class="">Livraison Express</span>
                            </p>
                            <p class="delivery_hour">
                              08:00 - 18:00
                            </p>
                          </div>
                        </label>
                      </div>
                    </div>

                    <div class="cgv" style="font-size: 1.1em">
                      <div class="form-group">
                        <span style="margin-bottom: 10"><b>Email: </b>mailtest@gmail.com</span>
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox" style="margin-bottom: 5px">
                          <input type="checkbox" class="custom-control-input" id="promotion_ayd_products" name="promotion_ayd_products">
                          <label class="custom-control-label" for="promotion_ayd_products">
                            Je communique mes coordonnées afin que AYD m'informe des produits et services qui peuvent me correspondre. Je sais que je peux demander à AYD de cesser toute communication avec moi à tout moment. J'accepte de recevoir des messages personnalisés de marketing via le courrier électronique de la part des responsables de traitements (« Afro Yaca Drum»).
                          </label>
                        </div>

                        <div class="custom-control custom-checkbox" >
                          <input type="checkbox" class="custom-control-input" id="majority_checker" name="majority_checker" required>
                          <label class="custom-control-label" for="majority_checker">
                            J'ai plus de 18 ans.
                          </label>
                        </div>
                      </div>

                      <div class="form-group">
                        <p style="text-align: justify">

                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            {% elif 2 == step %}
              <div class="step_two_bloc">
                <h2>Methodes de paiement</h2>
                <div class='step3-detail' style="font-size: 1.1em">
                  <p style="text-align: justify">
                    <span>
                      Vous seriez rediriger vers le système de paiement sécurisé de votre opérateur.
                    </span>
                    <br />
                    <span>
                      <b>NB: </b> Notre système est sécurisé et nous travaillons chaque jour à l'amélioration de celui ci pour éviter tout délits.
                    </span>
                  </p>
                </div>



                <div>
                  <div id="accordion" class="">

                    <div class="card">
                      <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color: #000; text-transform: uppercase">
                          <b>Cash</b>
                        </a>
                      </div>
                      <div id="collapseOne" class="collapse show" data-parent="#accordion">
                        <div class="card-body" style="font-size: 1.1em">
                          <div class="custom-control custom-radio">
                            <input type="radio" id="pay_to_go" name="payment" value="CASH" class="custom-control-input" checked>
                            <label class="custom-control-label" for="pay_to_go">Paiement à la livraison</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo" style="color: #000; text-transform: uppercase">
                          <b>Paiement mobile</b>
                        </a>
                      </div>
                      <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="card-body" style="font-size: 1.1em">
                          <div class="mompay-wrapper">
                            <p>
                              <span>
                                Choisir votre operateur*.
                              </span>
                              <br />
                            </p>
                            <div class="custom-control custom-radio" style="margin-bottom: 5px">
                              <input type="radio" id="momo" name="payment" value="MOMO" class="custom-control-input">
                              <label class="custom-control-label" for="momo">MTN Mobile Money</label>
                            </div>
                            <div class="custom-control custom-radio">
                              <input type="radio" id="om" name="payment" value="ORANGE_MONEY" class="custom-control-input">
                              <label class="custom-control-label" for="om">Orange Money</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            {% elif 3 == step %}
              <div class="step4-wrapper">
                <div class="offset-md-1 col-md-10 text-center">
                  <div class="ico text-center" style="padding: 20px 0;">
                    <i class="fas fa-thumbs-up fa-2x text-success" style="padding: 20px;border: 4px solid;border-radius: 50px;"></i>
                  </div>

                  <h2 style="padding-bottom: 10px;border-bottom: 1px solid grey;">Fin de la commande</h2>
                  <p class="text-center">
                    Vous êtes entrain de cloturer la commande, bien vouloir vérifier que toutes les informations transmisent sont correct avant de terminer le processus.
                    <br /> Notez que si vous confirmez cette commande, vous ne pourriez plus l'éditer dans le système.
                  </p>
                </div>
              </div>
            {% endif %}
          </div>

          <div class="col-sm-4">
            <div class="row" style="width: 100%; margin-right: 0; margin-left: 0">
              <div class="command-summary-wrapper" style="width: 100%">
                <div class="command-summary">
                  <h5 class="">Synthèse de la commande</h5>
                  <br />
                  <div class="command-total-group">
                    <div class="row" style="width: 100%; margin-right: 0; margin-left: 0">
                      <div class="col-sm-6"><h6 class="">Sous total</h6></div>
                      <div class="col-sm-6"><p class="">{% if cart %}{{ cart.total }}{% endif %} FCFA</p></div>
                    </div>
                    <div class="row" style="width: 100%; margin-right: 0; margin-left: 0">
                      <div class="col-sm-6"><h6 class="">Livraison</h6></div>
                      <div class="col-sm-6"><p class="">{% if cart %}{{ 0 }}{% endif %} FCFA</p></div>
                    </div>

                    <div class="row" style="width: 100%; margin-right: 0; margin-left: 0">
                        <div class="col-sm-6"><h6 class="">Livraison express</h6></div>
                        <div class="col-sm-6"><p class=""> {% if cart %}{{ cart.cart_express_delivery_price }}{% endif %} FCFA</p></div>
                    </div>

                    <div class="row" style="width: 100%; margin-right: 0; margin-left: 0">
                      <div class="col-sm-6"><h6 class="">Réduction</h6></div>
                      <div class="col-sm-6"><p class=""> 0 % </p></div>
                    </div>
                    <div class="row" style="width: 100%; margin-right: 0; margin-left: 0">
                      <div class="col-sm-6"><h6 class="">Taxe total</h6></div>
                      <div class="col-sm-6"><p class=""> 0 FCFA</p></div>
                    </div>
                  </div>
                  <div class="row line-total" style="width: 100%; margin-right: 0; margin-left: 0">
                    <div class="col-sm-6"><h5 class="">Montant Total</h5></div>
                    <div class="col-sm-6"><h5 class="price-total">{% if cart %}{{ cart.total | add:cart.cart_express_delivery_price }}{% endif %} FCFA</h5></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="command-product-wrapper row" style="width: 100%; margin-right: 0; margin-left: 0">
              <h5 class="">Articles</h5>
              {% if cart_items %}
                {% for item in cart_items %}
                  <div class="row product-row" key={key} style="width: 100%; margin-right: 0; margin-left: 0">
                    <div class="col-sm-6 command-picture-box">
                      <div class="command-img-wrapper">
                        <a href="{% url 'single_product' slug=item.variety.product.slug %}" class="">
                          <img class="img-fluid" src={{ item.variety.product.get_single_picture }} alt="{{ item.variety.product.title }}" />
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 command-picture-summary">
                      <h6 class="" style="text-align: justify">{{ item.variety.product.title }}</h6>
                      <p class="">
                        <span class="">{{ item.variety.color.title }}</span> <br />
                        <span class="">Taille : {{ item.variety.size.name }}</span> <br />
                        <span class="">Quantité : {{ item.quantity }}</span> <br />
                        <span class="">{{ item.line_total }} FCFA</span> <br />
                      </p>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>

        {% if 1 == step or 2 == step %}
          <div class="container checkout_btn_wrapper">
            <div class="row" style="width: 100%; margin-right: 0; margin-left: 0">
              <div class="checkout-submit-button">
                <input
                  name="previous"
                  type="submit"
                  class="btn btn-outline-secondary"
                  value="Précédent"
                >
              </div> &nbsp; &nbsp;
              <div class="checkout-submit-button">
                <input
                  name="next"
                  type="submit"
                  class="btn btn-secondary"
                  value="Suivant"
                />
              </div>
            </div>
          </div>
        {% elif 3 == step %}
          <div class="container checkout_btn_wrapper">
            <div class="row" style="width: 100%; margin-right: 0; margin-left: 0"> &nbsp;
              <div class="checkout-submit-button">
                <input
                  name="previous"
                  type="submit"
                  class="btn btn-outline-secondary"
                  value="Précédent"
                />
              </div> &nbsp; &nbsp;
              <div class="checkout-submit-button">
                <input
                  name="next"
                  type="submit"
                  class="btn btn-secondary"
                  value="Terminer"
                />
              </div>
            </div>
          </div>
        {% endif %}


      </form>
  </section>
{% endblock %}

{% block custom_js %}
{% endblock %}