<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block meta_tags %}
  <meta name="description" content="Vente des vêtements afro, chics et tendances."
      xmlns:padding-left="http://www.w3.org/1999/xhtml"/>
  <meta name="keywords" content="AFY,Fashion,Mode,Afro" />
  <meta property="og:description" content="Vente des vêtements afro, chics et tendances" />
  <meta property="og:title" content="Afro Yaca Drum" />
  <meta property="og:url" content="http://www.afroyacadrum.cm" />
  <meta property="og:image" content="http://www.afroyacadrum.cm/static/images/styled.jpeg" />
{% endblock %}

{% block title %}Magazine | Afro Yaca Drum{% endblock %}

{% block custom_style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/editorial/main.css' %}?version=1" />
{% endblock %}

{% block content %}
  <section style="">
    <div class="container-fluid" style="padding: 0">
      <div class="row" style="margin: 0">
        <div class="cover_wrapper"></div>
        <div class="row cover_text_wrapper" style="margin: 0">
          <div class="col-sm-8"></div>
          <div class="col-sm-4 editorial">
            <h1 class="display-4 edito_title">A la une</h1>
            <p class="lead paraf_edito">
            <i class="fas fa-quote-left"></i>&nbsp; Parce que chez Afro YACA Drum, on a toujours adoré les livres, découvrez régulièrement toutes nos sélections thématisées. Promis : tous les livres ont été lus et approuvés !&nbsp;<i class="fas fa-quote-right"></i></p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row guess" style="margin: 0">
        <div class="col-sm-6 guess_left">
          <div class="lead guess_words">
            <h2 class="display-4">Icone</h2>
            Parce que chez Afro YACA Drum, on a toujours adoré les livres, découvrez régulièrement toutes nos sélections thématisées. Promis : tous les livres.<br/>Adoré les livres, découvrez régulièrement toutes nos sélections thématisées. Parce que chez Afro YACA Drum, on a toujours adoré les livres !
          </div> 
        </div>
        <div class="col-sm-6 guess_right">
          <div class="guess_pic">
          </div>
        </div>
      </div>
    </div>

    <div class="colored_bloc">
      <div class="row" style="margin: 0">
        <div class="container">
          <h2 class="display-4 text-center colored_title">Robes de l'été</h2>
          <h4 class="display-4 text-center colored_subtitle">10 robes à porter quand le soleil brille</h4>
          <div style="margin-left: 0; margin-right: 0; width: 100%">
            <!--HorizontalScroll /-->
          </div>
        </div>
      </div>
    </div>
    
    <div class="col_article">
      <div class="container">
        <div class="row" style="margin: 0">
          <div class="col-6 col-sm-4">
            <a href="#">
              <div class="bloc_col_wrapper_1">
                <div class="img_container">
                </div>
                <div class="img_legend">
                  <h4 class="col_article_title">Art du style</h4>
                  <p class="col_article_description">Toutes les façons de porter une robe</p>
                  <span class="col_article_date">21 JUL 20</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-sm-4">
            <a href="#">
              <div class="bloc_col_wrapper_2">
                <div class="img_container">
                </div>
                <div class="img_legend">
                  <h4 class="col_article_title">Art du style</h4>
                  <p class="col_article_description">Toutes les façons de porter une robe</p>
                  <span class="classes.col_article_date">21 JUL 20</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-sm-4">
            <a href="#">
              <div class="bloc_col_wrapper_3">
                <div class="img_container">
                </div>
                <div class="img_legend">
                  <h4 class="col_article_title">Art du style</h4>
                  <p class="col_article_description">Toutes les façons de porter une robe</p>
                  <span class="col_article_date">21 JUL 20</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row style_article" style="margin: 0">
        <a href="#" class="col-sm-8 styled_left">
        </a>
        <a href="#" class="col-sm-4 styled_right">
          <h4 class="h4_article_title>Art du style"></h4>
          <h4 class="h3_styled">6 façons de s'habiller de manière stylé cet été</h4>
          <div class="styled_shop_now">
            <span class="styled_button_shop_now">
              Aller à la boutique
            </span>
            <br />
            <br />
            <span class="col_article_date">21 JUL 20</span>
          </div>
        </a>
      </div>
    </div>
    
    <div class="col_article">
      <div class="container">
        <div class="row" style="margin: 0">
          <div class="col-6 col-sm-4">
            <a href="#">
              <div class="bloc_col_wrapper_1">
                <div class="img_container">
                </div>
                <div class="img_legend">
                  <h4 class="col_article_title">Art du style</h4>
                  <p class="col_article_description">Toutes les façons de porter une robe</p>
                  <span class="col_article_date">21 JUL 20</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-sm-4">
            <a href="#">
              <div class="bloc_col_wrapper_2">
                <div class="img_container">
                </div>
                <div class="img_legend">
                  <h4 class="col_article_title">Art du style</h4>
                  <p class="col_article_description">Toutes les façons de porter une robe</p>
                  <span class="col_article_date">21 JUL 20</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-sm-4">
            <a href="#">
              <div class="bloc_col_wrapper_3">
                <div class="img_container">
                </div>
                <div class="img_legend">
                  <h4 class="col_article_title">Art du style</h4>
                  <p class="col_article_description">Toutes les façons de porter une robe</p>
                  <span class="col_article_date">21 JUL 20</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="dont_miss_color">
      <div class="container">
        <h2 class="display-4 text-center colored_title title-mb-30">Articles manqués</h2>
        <div class="row" style="margin: 0">
          <div class="col-6 col-sm-4">
            <a href="#">
              <div class="bloc_col_wrapper_1">
                <div class="dont_miss_img_container">
                </div>
                <div class="img_legend">
                  <h4 class="dont_miss_article_title">Art du style</h4>
                  <p class="dont_miss_article_description">Toutes les façons de porter une robe</p>
                  <span class="dont_miss_article_date">21 JUL 20</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-sm-4">
            <a href="#">
              <div class="bloc_col_wrapper_1">
                <div class="dont_miss_img_container">
                </div>
                <div class="img_legend">
                  <h4 class="dont_miss_article_title">Art du style</h4>
                  <p class="dont_miss_article_description">Toutes les façons de porter une robe</p>
                  <span class="dont_miss_article_date">21 JUL 20</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-sm-4">
            <a href="#">
              <div class="bloc_col_wrapper_1">
                <div class="dont_miss_img_container">
                </div>
                <div class="img_legend">
                  <h4 class="dont_miss_article_title">Art du style</h4>
                  <p class="dont_miss_article_description">Toutes les façons de porter une robe</p>
                  <span class="dont_miss_article_date">21 JUL 20</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row" style="margin: 40px 0 0 0">
          <div class="col-6 col-sm-4">
            <a href="#">
              <div class="bloc_col_wrapper_1">
                <div class="dont_miss_img_container">
                </div>
                <div class="img_legend">
                  <h4 class="dont_miss_article_title">Art du style</h4>
                  <p class="dont_miss_article_description">Toutes les façons de porter une robe</p>
                  <span class="dont_miss_article_date">21 JUL 20</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-6 col-sm-4">
            <a href="#">
              <div class="bloc_col_wrapper_1">
                <div class="dont_miss_img_container">
                </div>
                <div class="img_legend">
                  <h4 class="dont_miss_article_title">Art du style</h4>
                  <p class="dont_miss_article_description">Toutes les façons de porter une robe</p>
                  <span class="dont_miss_article_date">21 JUL 20</span>
                </div>
              </div>
            </a>
          </div>*
          <div class="col-6 col-sm-4">
            <a href="#">
              <div class="bloc_col_wrapper_1">
                <div class="dont_miss_img_container">
                </div>
                <div class="img_legend">
                  <h4 class="dont_miss_article_title">Art du style</h4>
                  <p class="dont_miss_article_description">Toutes les façons de porter une robe</p>
                  <span class="dont_miss_article_date">21 JUL 20</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block custom_js %}
{% endblock %}