 input[type=checkbox]{
  /* Double-sized Checkboxes */
    transform: scale(1.5);
    padding: 10px;
    margin-right: 10px !important;
    margin-left: 6px !important;
}

label {
    font-size: 1.1em;
}

input[type=radio]{
    transform: scale(1.5);
}

.form-check-label {
    padding-left: 10px;
    padding-right: 20px;
}

.error_form {
    font-size: 0.8em;
    padding-left: 10px;
    color: #ec4848;
}

.focus-input100_error {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #ff5c5c;
    box-shadow: 2px 2px 8px #ff00003b;
    border-radius: 10px;
}


.has-val+.focus-input100_error+.label-input100{
    top:5px;
    font-size:13px
}

/* XS */
@media (max-width: 767px) {
    .pic_bloc {
    display: none;
    }
}

