 input[type=checkbox]{
  /* Double-sized Checkboxes */
    transform: scale(1.5);
    padding: 10px;
    margin-right: 10px !important;
    margin-left: 6px !important;
}

label {
    font-size: 1.1em;
}

input[type=radio]{
    transform: scale(1.5);
}

.form-check-label {
    padding-left: 10px;
    padding-right: 20px;
}