<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block meta_tags %}
  <meta name="description" content="Vente des vêtements afro, chics et tendances." />
  <meta name="keywords" content="AFY,Fashion,Mode,Afro" />
  <meta property="og:description" content="Vente des vêtements afro, chics et tendances" />
  <meta property="og:title" content="Afro Yaca Drum" />
  <meta property="og:url" content="http://www.afroyacadrum.cm" />
  <meta property="og:image" content="http://www.afroyacadrum.cm/static/images/acc.jpg" />
{% endblock %}

{% block title %}Accueil | Afro Yaca Drum{% endblock %}

{% block custom_style %}
{% endblock %}


{% block content %}
  <div class="home_main pb-5">
    <div class="container">
      <div class="home_top pt-3 mb-5">
        <h1>Bienvenue {{ user.username }}!!</h1>
      </div>

    </div>
  </div>
{% endblock %}

{% block custom_js %}
{% endblock %}
