<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block meta_tags %}
  <meta name="description" content="Vente des vêtements afro, chics et tendances." />
  <meta name="keywords" content="AFY,Fashion,Mode,Afro" />
  <meta property="og:description" content="Vente des vêtements afro, chics et tendances" />
  <meta property="og:title" content="Afro Yaca Drum" />
  <meta property="og:url" content="http://www.afroyacadrum.cm" />
  <meta property="og:image" content="http://www.afroyacadrum.cm/static/images/acc.jpg" />
{% endblock %}

{% block title %}Accueil | Afro Yaca Drum{% endblock %}

{% block custom_style %}
{% endblock %}


{% block content %}
  <header id="header">
    <div class="header_top">
      <div class="container">
        <div class="row" style="margin-left: 0px; margin-right: 0px">
          <div class="col-sm-6">
            <div class="contactinfo">
              <ul class="nav nav-pills">
                <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="social-icons pull-right">
              <ul class="nav navbar-nav">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="header-middle">
      <div class="container">
        <div class="row" style="padding-top: 0; padding-bottom: 0 ">
          <div class="col-md-4 clearfix">
            <div class="logo pull-left">
              <a href="/"><img class="img-fluid" width="120px" src="/static/images/logo.jpg" alt="" /></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="open_day_wrapper">
              <span class="open_day_title">Heures d'ouverture</span> <br />
              <span class="open_day">Lundi à Vendredi: 8h - 20h</span> <br />
              <span class="open_day">Samedi: 8h - 20h</span> <br />
            </div>
          </div>
          <div class="col-md-4 clearfix shop-menu-clear">
            <div class="shop-menu clearfix pull-right">
              <ul class="nav navbar-nav">
                <li><a href="/favorites/"><i class="far fa-heart fa-2x"></i> <span class="heart-custom-badge badge badge-secondary">{{ favourite_items_quantity }}</span></a></li>
                <li class="dropdown cart-link">
                  <a href="/carts/" class="nav-link">
                    <i class="fa fa-shopping-cart fa-2x"></i> <span class="custom-badge badge badge-secondary">{{ cart_items_quantity }}</span>
                  </a>


                  <!--div class={`shopping-cart_item_add_wrapper ${ new_item ? 'active' : null }`}-->
                  <div class="shopping-cart_item_add_wrapper">
                    <i class="fa fa-chevron-up fa-2x custom-fa"></i>
                    <div class="shopping-cart_item_add">
                      <div class="img-wrapper">
                        <img src="/static/images/dress2.png"  class="cart_flash_add_image" alt="" />
                      </div>
                      <div class="btn-wrapper">
                        <Button
                          type="submit"
                          fullWidth
                          variant="contained"
                          color="secondary"
                        >
                          Retirer du panier
                        </Button>
                      </div>
                    </div>
                  </div>
                </li>
                  {% if user.is_authenticated %}
                    <div class="logged_in_bloc">
                      <span class="dropdown-toggle user_middle_nav" data-toggle="dropdown">
                        <i class="fa fa-user fa-2x"></i>
                      </span>
                      <ul class="dropdown-menu" style="z-index : 2000">
                        <li
                          class="user_middle_nav_li"
                          style="border-bottom: 1px solid lightgrey; padding-bottom: 10px"
                        >
                          <a href="/account/my-orders/">Mes commandes</a>
                        </li>
                        <li
                          class="user_middle_nav_li"
                          style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid lightgrey"
                        >
                          <a href="/account/service/oh-my-box/">Ma Box</a>
                        </li>
                        <li
                          class="user_middle_nav_li"
                          style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid lightgrey"
                        >
                          <a href="/account/settings/">Préférences</a>
                        </li>
                        <li
                          class="user_middle_nav_li"
                          style="padding-top: 10px"
                        >
                          <a href="/auth/web/logout">Se déconnecter</a>
                        </li>
                      </ul>
                    </div>

                  {% else %}
                    <a href="/auth/web/login">
                      <img
                        src="/static/images/icons/login.png"
                        alt="Icon login"
                        style="width: 30px; margin-bottom: 15px"
                      />
                    </a>
                  {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <nav class="middle-nav navbar navbar-expand-md shadow-sm navbar-dark sticky-top">
        <div class="container">
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav-1" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="main-nav-1">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a title="A la une" href="/" class="nav-link">A la une</a>
              </li>
              <li class="nav-item dropdown position-static">
                <a href="/shop/femmes/news-products" title="Nouveautés" class="nav-link dropdown-toggle">Nouveautés
                </a>
                <div class="dropdown-menu w-100 top-auto catalogue_menu">
                  <div class="container">
                    <div class="row w-100">
                      <div class="col-sm-3">
                        <h3 class="">Parcourir par</h3>
                        <a title="Mois" href="/shop/femmes/trending?sort=month"  class="dropdown-item">Mois</a>
                        <a title="Weekend" href="/shop/femmes/trending?sort=weekend" class="dropdown-item">Weekend</a>
                        <a title="Articles d'été" href="/shop/femmes/trending?sort=summer_collection" class="dropdown-item">Articles d'été</a>
                        <a title="Meilleures ventes" href="/shop/femmes/trending?sort=best_sales" class="dropdown-item">Meilleures ventes</a>
                      </div>
                      <div class="col-sm-9 nav_tendencies">
                        <h4 class="maintitle_actual">Tendance actuelle</h4>
                        <div class="row">

                          { !_.isEmpty(trending_product) ?
                            this.randomizeArray(trending_product).slice(0,4)
                              .map((val, key) => {
                                return (
                                  <div class="col-sm-3" key={key}>
                                    <a href={`/shop/products/${val.slug}`} class="">
                                      <div class="img_wrapper">
                                        <img src={`${val.pictures[0]}`} class="nav_picture" />
                                      </div>
                                      <div class="img_legend">
                                        <h4 class="">{val.title}</h4>
                                          <span class="text_legend">
                                          {val.price} FCFA
                                          </span>
                                      </div>
                                    </a>
                                  </div>
                                )
                              })
                            :
                            null
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown position-static">
                <a href={`/shop/${'femme'}/${'vetements'}`}  title="Vêtements" class="nav-link dropdown-toggle">
                  Vêtements
                </a>
                <div class="dropdown-menu w-100 top-auto catalogue_menu">
                  <div class="container">
                    <div class="row w-100 designers">
                      <div class="col-sm-3">
                        <h4 class="">Filtrer par</h4>
                        <a title="Mois" href={`/shop/${'femme'}/${'vetements'}?sort=${'month'}`} class="dropdown-item">Mois</a>
                        <a title="Weekend" href={`/shop/${'femme'}/${'vetements'}?sort=${'weekend'}`} class="dropdown-item">Weekend</a>
                        <a title="Articles d'été" href={`/shop/${'femme'}/${'vetements'}?sort=${'ete'}`} class="dropdown-item">Articles d'été</a>
                        <a title="Meilleures ventes" href={`/shop/${'femme'}/${'vetements'}?sort=${'meilleures_ventes'}`} class="dropdown-item">Meilleures ventes</a>
                        <a title="Pour enfants" href={`/shop/${'enfant'}/${'vetements'}`} class="dropdown-item">Pour enfants</a>
                      </div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-6">
                            <h4 class="">Vêtements</h4>
                            <ul class="feature_designer">
                              <li>
                                <a href={`/shop/${'femme'}/${'vetements'}`}>
                                  Tous les vêtements
                                </a>
                              </li>
                              { !_.isEmpty(clothing_types) ?
                                clothing_types
                                  .map((val, key) => {
                                    return (
                                      <li key={key}>
                                        <a href={`/shop/${'femme'}/${'vetements'}?sort=${val.slug}`}>
                                          { val.title }
                                        </a>
                                      </li>
                                    )
                                  })
                                :
                                null
                              }
                            </ul>
                          </div>
                          <div class="col-sm-6">
                            <a href="" class="">
                              <div class="designer_img_wrapper">
                                <img src={`${ nav_pictures ? nav_pictures.clothing : null }`} class="designer_picture" />
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown position-static">
                <a title="Chaussures" href={`/shop/${'femme'}/${'chaussures'}`} class="nav-link dropdown-toggle">Chaussures</a>
                <div class="dropdown-menu w-100 top-auto catalogue_menu">
                  <div class="container">
                    <div class="row w-100 designers">
                      <div class="col-sm-3">
                        <h4 class="">Filtrer par</h4>
                        <a title="Nouveautés" href={`/shop/${'femme'}/${'chaussures'}?sort=nouveautes`} class="dropdown-item">Nouveautés</a>
                        <a title="tendance" href={`/shop/${'femme'}/${'chaussures'}?sort=tendances`} class="dropdown-item">Tendence</a>
                        <a title="Essentiel" href={`/shop/${'femme'}/${'chaussures'}?sort=essentiels`} class="dropdown-item">Essentiel</a>
                        <a title="Mariage" href={`/shop/${'femme'}/${'chaussures'}?sort=mariages`} class="dropdown-item">Mariage</a>
                        <a title="Meilleures ventes" href={`/shop/${'femme'}/${'chaussures'}?sort=meilleures_ventes`} class="dropdown-item">Meilleures ventes</a>
                      </div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-6">
                            <h4 class="">Chaussures</h4>
                            <ul class="feature_designer">
                              <li>
                                <a href={`/shop/${'femme'}/${'chaussures'}`}>
                                  Toutes
                                </a>
                              </li>
                              { !_.isEmpty(shoes_types) ?
                                shoes_types
                                  .map((val, key) => {
                                    return (
                                      <li key={key}>
                                        <a href={`/shop/${'femme'}/${'chaussures'}?sort=${val.slug}`}>
                                          { val.title }
                                        </a>
                                      </li>
                                    )
                                  })
                                :
                                null
                              }
                            </ul>
                          </div>
                          <div class="col-sm-6">
                            <a href="" class="">
                              <div class="designer_img_wrapper">
                                <img src={`${ nav_pictures ? nav_pictures.shoes : null }`} class="designer_picture" />
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown position-static">
                <a href={`/shop/${'femme'}/${'sacs'}`} title="Sacs" class="nav-link dropdown-toggle">Sacs</a>
                <div class="dropdown-menu w-100 top-auto catalogue_menu">
                  <div class="container">
                    <div class="row w-100 designers">
                      <div class="col-sm-3">
                        <h4 class="">Filtrer par</h4>
                        <a title="Nouveautés" href={`/shop/${'femme'}/${'sacs'}?sort=nouveautes`} class="dropdown-item">Nouveautés</a>
                        <a title="Classiques" href={`/shop/${'femme'}/${'sacs'}?sort=classiques`} class="dropdown-item">Classiques</a>
                        <a title="Meilleures ventes" href={`/shop/${'femme'}/${'sacs'}?sort=meilleures_ventes`} class="dropdown-item">Meilleures ventes</a>
                        <a title="Sacs d'été" href={`/shop/${'femme'}/${'sacs'}?sort=ete`} class="dropdown-item">Sacs d'été</a>
                      </div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-6">
                            <h4 class="">Sacs</h4>
                            <ul class="feature_designer">
                              <li>
                                <a href={`/shop/${'femme'}/${'sacs'}`}>
                                  Tous
                                </a>
                              </li>
                              { !_.isEmpty(bags_types) ?
                                bags_types
                                  .map((val, key) => {
                                    return (
                                      <li key={key}>
                                        <a href={`/shop/${'femme'}/${'sacs'}?sort=${val.slug}`}>
                                          { val.title }
                                        </a>
                                      </li>
                                    )
                                  })
                                :
                                null
                              }
                            </ul>
                          </div>
                          <div class="col-sm-6">
                            <a href="" class="">
                              <div class="designer_img_wrapper">
                                <img src={`${ nav_pictures ? nav_pictures.bag : null }`} class="designer_picture" />
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown position-static">
                <a title="Accessoires" href={`/shop/${'femme'}/${'accessoires'}`} class="nav-link dropdown-toggle">Accessoires</a>
                <div class="dropdown-menu w-100 top-auto catalogue_menu">
                  <div class="container">
                    <div class="row w-100 designers">
                      <div class="col-sm-3">
                        <h4 class="">Filtrer par</h4>
                        <a title="Nouveautés" href={`/shop/${'femme'}/${'accessoires'}?sort=nouveautes`} class="dropdown-item">Nouveautés</a>
                        <a title="Cartes cadeaux" href={`/shop/${'femme'}/${'accessoires'}?sort=cartes_cadeau`} class="dropdown-item">Cartes cadeaux</a>
                        <a title="Accéssoires d'été" href={`/shop/${'femme'}/${'accessoires'}?sort=ete`} class="dropdown-item">Accessoires d'été</a>
                      </div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-6">
                            <h4 class="">Accessoires</h4>
                            <ul class="feature_designer">
                              <li>
                                <a href={`/shop/${'femme'}/${'accessoires'}`}>
                                  Tous
                                </a>
                              </li>
                              { !_.isEmpty(accessories_types) ?
                                accessories_types
                                  .map((val, key) => {
                                    return (
                                      <li key={key}>
                                        <a href={`/shop/${'femme'}/${'accessoires'}?sort=${val.slug}`}>
                                          { val.title }
                                        </a>
                                      </li>
                                    )
                                  })
                                :
                                null
                              }
                            </ul>
                          </div>
                          <div class="col-sm-6">
                            <a href="" class="">
                              <div class="designer_img_wrapper">
                                <img src={`${ nav_pictures ? nav_pictures.accessory : null }`} class="designer_picture" />
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown position-static">
                <a title="Bijoux" href={`/shop/${'femme'}/${'bijoux'}`} class="nav-link dropdown-toggle">Bijoux</a>
                <div class="dropdown-menu w-100 top-auto catalogue_menu">
                  <div class="container">
                    <div class="row w-100 designers">
                      <div class="col-sm-3">
                        <h4 class="">Filtrer par</h4>
                        <a title="Nouveautés" href={`/shop/${'femme'}/${'bijoux'}?sort=nouveautes`} class="dropdown-item">Nouveautés</a>
                        <a title="Excliusivités" href={`/shop/${'femme'}/${'bijoux'}?sort=exclusivites`} class="dropdown-item">Exclusivités</a>
                        <a title="Bijoux Afro YACA" href="{`/shop/${'femme'}/${'bijoux'}?sort=afro_yaca_drum`}" class="dropdown-item">Bijoux Afro YACA</a>
                        <a title="Bijoux d'évènements" href={`/shop/${'femme'}/${'bijoux'}?sort=evenements`} class="dropdown-item">Bijoux d'évènement</a>
                        <a title="Bijoux du quotidien" href="{`/shop/${'femme'}/${'bijoux'}?sort=quotidien`}" class="dropdown-item">Bijoux du quotidien</a>
                        <a title="Cadeaux" href="{`/shop/${'femme'}/${'bijoux'}?sort=cadeaux`}" class="dropdown-item">Cadeaux</a>
                      </div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-6">
                            <h4 class="">Bijoux</h4>
                            <ul class="feature_designer">
                              <li>
                                <a href={`/shop/${'femme'}/${'bijoux'}`}>
                                  Tous
                                </a>
                              </li>
                              { !_.isEmpty(jewleries_types) ?
                                jewleries_types
                                  .map((val, key) => {
                                    return (
                                      <li key={key}>
                                        <a href={`/shop/${'femme'}/${'bijoux'}?sort=${val.slug}`}>
                                          { val.title }
                                        </a>
                                      </li>
                                    )
                                  })
                                :
                                null
                              }
                            </ul>
                          </div>
                          <div class="col-sm-6">
                            <a href="" class="">
                              <div class="designer_img_wrapper">
                                <img src={`${ nav_pictures ? nav_pictures.jewelery : null }`} class="designer_picture" />
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown position-static">
                <a title="Beauté" href={`/shop/${'femme'}/${'beautes'}`} class="nav-link dropdown-toggle">Beauté</a>
                <div class="dropdown-menu w-100 top-auto catalogue_menu">
                  <div class="container">
                    <div class="row w-100 designers">
                      <div class="col-sm-3">
                        <h4 class="">Filtrer par</h4>
                        <a title="Nouveautés" href={`/shop/${'femme'}/${'beautes'}?sort=nouveautes`} class="dropdown-item">Nouveautés</a>
                        <a title="Meilleures ventes" href={`/shop/${'femme'}/${'beautes'}?sort=meilleures_ventes`} class="dropdown-item">Meilleures ventes</a>
                      </div>
                      <div class="col-sm-9">
                        <div class="row">
                          <div class="col-sm-6">
                            <h4 class="">Beauté</h4>
                            <ul class="feature_designer">
                              <li>
                                <a href="">
                                  Tous
                                </a>
                              </li>
                              { !_.isEmpty(beauties_types) ?
                                beauties_types
                                  .map((val, key) => {
                                    return (
                                      <li key={key}>
                                        <a href={`/shop/${'femme'}/${'beautes'}?sort=${val.slug}`}>
                                          { val.title }
                                        </a>
                                      </li>
                                    )
                                  })
                                :
                                null
                              }
                            </ul>
                          </div>
                          <div class="col-sm-6">
                            <a href="" class="">
                              <div class="designer_img_wrapper">
                                <img src={`${ nav_pictures ? nav_pictures.beauty : null }`} class="designer_picture" />
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown position-static"><a title="Editorial" href={`${urls.EDITORIAL}`} class="nav-link dropdown-toggle">Editorial</a>
                <div class="dropdown-menu w-100 top-auto catalogue_menu">
                  <div class="container">
                    <div class="row w-100">
                      <div class="col-sm-2">
                        <h3 class="">Editorial</h3>
                        <a title="Mois" href="#" class="dropdown-item">Nouveautés</a>
                        <a title="Femmes influentes" href={`${urls.EDITORIAL}`} class="dropdown-item">Femmes influentes</a>
                        <a title="Grand titre" href={`${urls.EDITORIAL}`} class="dropdown-item">Grand titre</a>
                        <a title="Mode de vie" href={`${urls.EDITORIAL}`} class="dropdown-item">Mode de vie</a>
                        <a title="Tendance" href={`${urls.EDITORIAL}`} class="dropdown-item">Tendance</a>
                        <a title="Beauté" href={`${urls.EDITORIAL}`} class="dropdown-item">Beauté</a>
                      </div>
                      <div class="col-sm-3 nav_cover">
                        <h5 class="">A l'affiche</h5>
                        <a href="" class={`${urls.EDITORIAL}`}>
                          <div class="edito_img_wrapper">
                            <img src="/static/images/cover1.jpg" class="edito_picture" />
                          </div>
                          <div class="edito_img_legend">
                            <span class="text_legend">
                              Edition des femmes influentes
                            </span>
                            <br />
                            <span class="text_legend_date">
                              Juillet 2020
                            </span>
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-4 nav_cover">
                        <h5 class="">Parue aujourd'hui</h5>
                        <a href={`${urls.EDITORIAL}`}>
                          <div class="row">
                            <div class="col-sm-5">
                              <div class="today_edito_img_wrapper_1">
                                <img src="/static/images/cover2.jpg" class="today_edito_picture" />
                              </div>
                            </div>
                            <div class="col-sm-7">
                              <h6 class="today_post_title">Contenu exclusif à diffuser</h6>
                              <p class="today_post_text">Détails du contenu exclusif à lire et a commenter encore et voila</p>
                            </div>
                          </div>
                        </a>
                        <a href={`${urls.EDITORIAL}`}>
                          <div class="row">
                            <div class="col-sm-5">
                              <div class="today_edito_img_wrapper">
                                <img src="/static/images/cover3.jpg" class="today_edito_picture" />
                              </div>
                            </div>
                            <div class="col-sm-7">
                              <h6 class="today_post_title">Contenu exclusif à diffuser</h6>
                              <p class="today_post_text">Détails du contenu exclusif à lire et a commenter encore et voila</p>
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-sm-4">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown position-static"><a title="A porter" href={`${urls.TO_WARE}`} class="nav-link dropdown-toggle">A porter</a>
                <div class="dropdown-menu w-100 top-auto catalogue_menu">
                  <div class="container">
                    <div class="row w-100">
                      <div class="col-sm-3">
                        <h3 class="">Parcourir par</h3>
                        <a title="Mois" href={`/shop/${'femme'}/${'trending'}?sort=${'month'}`}  class="dropdown-item">Mois</a>
                        <a title="Weekend" href={`/shop/${'femme'}/${'trending'}?sort=${'weekend'}`} class="dropdown-item">Weekend</a>
                        <a title="Articles d'été" href={`/shop/${'femme'}/${'trending'}?sort=${'summer_collection'}`} class="dropdown-item">Articles d'été</a>
                        <a title="Meilleures ventes" href={`/shop/${'femme'}/${'trending'}?sort=${'best_sales'}`} class="dropdown-item">Meilleures ventes</a>
                      </div>
                      <div class="col-sm-9 nav_tendencies">
                        <h4 class="">Ce qu'il faut porter aujourd'hui</h4>
                        <div class="row">
                          { !_.isEmpty(trending_product) ?
                            this.randomizeArray(trending_product).slice(0,4)
                              .map((val, key) => {
                                return (
                                  <div class="col-sm-3" key={key}>
                                    <a href={`/shop/products/${val.slug}`} class="">
                                      <div class="img_wrapper">
                                        <img src={`${val.pictures[0]}`} class="nav_picture" />
                                      </div>
                                      <div class="img_legend">
                                        <h4 class="">{val.title}</h4>
                                          <span class="text_legend">
                                          {val.price} FCFA
                                          </span>
                                      </div>
                                    </a>
                                  </div>
                                )
                              })
                            :
                            null
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item"><a title="Editorial" href={`${urls.SERVICE}`} class="nav-link">OH! My Box</a>
                <div class="dropdown-menu w-100 top-auto catalogue_menu">
                  <div class="container">
                    <div class="row w-100">
                      <div class="col-sm-4">
                        <h3 class="">Nos services</h3>
                        <a title="Mois" href="#" class="dropdown-item">OH! My Box</a>
                      </div>
                      <div class="col-sm-3 nav_cover">
                      </div>
                      <div class="col-sm-4 nav_cover">
                      </div>
                      <div class="col-sm-4">
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

  </header>

  <div class="home_main pb-5">
    <div class="container">
      <div class="home_top pt-3 mb-5">
        <h1>Bienvenue {{ user.username }}!!</h1>
      </div>

    </div>
  </div>
{% endblock %}

{% block custom_js %}
{% endblock %}
