<!-- templates/home.html-->
{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block meta_tags %}
  <meta name="description" content="Vente des vêtements afro, chics et tendances."
      xmlns:padding-left="http://www.w3.org/1999/xhtml"/>
  <meta name="keywords" content="AFY,Fashion,Mode,Afro" />
  <meta property="og:description" content="Vente des vêtements afro, chics et tendances" />
  <meta property="og:title" content="Afro Yaca Drum" />
  <meta property="og:url" content="http://www.afroyacadrum.cm" />
  <meta property="og:image" content="http://www.afroyacadrum.cm/static/images/acc.jpg" />
{% endblock %}

{% block title %}Accueil | Afro Yaca Drum{% endblock %}

{% block custom_style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home/index.css' %}?version=1" />
{% endblock %}


{% block content %}
  <section class="home_main pb-5" style="background-color: white">
    <div class="container">
      <div class="row">
        {% if banner %}
          <a href="{{ banner.linkUrl }}" class='home_top_banner'>
            <div
              style="
                  background-image: url({{ banner.get_picture }});
                  width: 100%;
                  height: 100%;
                  background-size: cover;
              "
            >
              <div class="banner-wrapper">
                <div class="row" style="margin-left: 0; margin-right: 0; width: '100%'">
                  <div class="col-sm-4" style="padding-left: 0; padding-right: 0"></div>
                  <div class="col-sm-2" style="padding-left: 0; padding-right: 0"></div>
                  <div class="col-sm-6 baner-text" style="padding-top: 30; padding-right: 20">
                    <h4 class='display-4 baner-main-title'>{{ banner.title }}</h4>
                    <p class=''>
                      {{ banner.subTitle }}
                    </p>
                    <span class="">
                      {{ banner.linkText }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {% endif %}

        <div class="row" style="margin-top: 20px; margin-left: 0; margin-right: 0; width: 100%">
          <div class="col-sm-6" style="padding-left: 0; padding-right: 0">
            {% if cover %}
            <!-- magazine cover -->
            <div class="row" style="margin-left: 0; margin-right: 0; width: 100%">
              <a href="#" class='home-cover-wrapper'> 
                <div>
                  <img class="img-fluid" src="{{ cover.get_cover_picture }}" alt="Couverture Magazine" />
                </div>
              </a>
            </div>
            {% endif %}
            <!-- magazine cover end -->

            <!-- Next magazine cover row (two pics with legend) -->
            <h5 class='latest-articles-title'>Les nouveautés</h5>
            <div class="row latest-row" style="margin-left: 0; margin-right: 0; width: 100%">
              {% if feature_products %}
                {% for val in feature_products %}
                <div class="col-6" style="padding: 5px">
                  <a href="{% url 'single_product' slug=val.slug %}" class='home-latest-wrapper'>
                    <div class="image_new_products_home">
                      <img class="img-fluid" src="{{ val.get_single_picture}}" alt="{{ val.title}}" />
                    </div>
                    <div class="latest-legend display-4">
                      <h4 class='display-4'>{{ val.title }}</h4>
                      <p class=''>
                        <span class="">
                          Regarder &amp; Acheter
                        </span>
                      </p>
                    </div>
                  </a>
                </div>
                {% endfor %}
              {% endif %}
            </div>
            <!-- End next magazine two pics -->
          </div>

          <div class="col-sm-6 home-right-side">
            <h5 class='what-to-buy-title'>Ce qu'il faut acheter</h5>
            <!-- What to buy -->
            <div class="row" style="margin-left: 0; margin-right: 0; width: 100%">
              <a href="{% url 'clothing_products' %}" class='home-what-to-buy'>
                <div
                  style="
                    background-image: url(/static/images/rob2.jpg);
                    width: 100%;
                    height: 250px;
                    background-size: cover;">
                </div>
                <div class="what-to-buy-legend">
                  <h4 class=''>Robes élégantes</h4>
                  <p class=''>
                    Les plus belles robes de notre collection
                  </p>
                  <span class="{% url 'clothing_products' %}">
                    Regarder le look
                  </span>
                </div>
              </a>
            </div>
            <!-- what to buy end -->

            <!-- What to buy -->
            <div class="row" style="margin-left: 0; margin-right: 0; width: 100%; margin-top: 40; margin-bottom: 30">
              <a href="{% url 'bags_products' %}" class='home-what-to-buy'>
                <div
                  style="
                    background-image: url(/static/images/sac.jpg);
                    width: 100%;
                    height: 250px;
                    background-size: cover">
                </div>
                <div class="what-to-buy-legend">
                  <h4 class=''>Sac à main fashion</h4>
                  <p class=''>
                    La collection des meilleurs sacs à chics de luxe
                  </p>
                  <span href="{% url 'bags_products' %}" class="">
                    Regarder le look
                  </span>
                </div>
              </a>
            </div>
            <!-- What to buy end -->

            <!-- What to buy -->
            <div class="row" style="margin-left: 0; margin-right: 0; width: 100%">
              <a href="{% url 'accessories_products' %}" class='home-what-to-buy'>
                <div
                  style="
                    background-image: url(/static/images/acc.jpg);
                    width: 100%;
                    height: 250px;
                    background-size: cover;">
                </div>
                <div class="what-to-buy-legend">
                  <h4 class=''>Accéssoires de mode</h4>
                  <p class=''>
                    Les accessoires Afro et chics à porter de de main
                  </p>
                  <span href="{% url 'accessories_products' %}" class="">
                    Regorder le look
                  </span>
                </div>
              </a>
            </div>
            <!-- What to buy end -->
          </div>
        </div>

        <!--  Jewelery, accessories and beauty tools -->
        <div class="row home-soft-category" style="margin-left: 0; margin-right: 0; width: 100%">
          <h5 class='categories_home text-center' style="width: 100%">Catégories de vêtements</h5>
          {% if categories %}
            {% for val in categories %}
            <div class="col-sm-4 home_categorie" style="padding-left: 0; padding-right: 10">
              {% comment %}
                <a href="{% url val.get_absolute_url slug=val.slug %}" class='home-latest-wrapper'></a>
              {% endcomment %}
              <a href="#" class='home-latest-wrapper'>
                <div
                    style="
                      background-image: url({{ val.get_single_picture }});
                      width: 100%;
                      height: 300px;
                      background-size: cover;">
                  </div>
                  <div class="" style="padding-top: 5px">
                    <h6 class='categories_home ttle'>{{ val.title }}</h6>
                  </div>
                </a>
            </div>
            {% endfor %}
          {% endif %}
        </div>
        <!-- End Jewelery, accessories and beauty tools -->

        <div class="row selling-showcase" style="margin-left: 0; margin-right: 0; width: 100%">
          <div id="horizontal_scroll" style="width: 100%" />
        </div>

      </div>
    </div>
  </section>



{% endblock %}

{% comment %}
  {% render_bundle 'horizontal_scroll' 'js' %}
{% endcomment %}

{% block custom_js %}
  <script src="{% static 'ui/horizontal_scroll.min.js' %}"></script>
{% endblock %}
