<!-- templates/home.html-->
{% extends 'base.html' %}
{% load static %}

{% block meta_tags %}
  <meta name="description" content="Vente des vêtements afro, chics et tendances."
      xmlns:padding-left="http://www.w3.org/1999/xhtml"/>
  <meta name="keywords" content="AFY,Fashion,Mode,Afro" />
  <meta property="og:description" content="Vente des vêtements afro, chics et tendances" />
  <meta property="og:title" content="Afro Yaca Drum" />
  <meta property="og:url" content="http://www.afroyacadrum.cm" />
  <meta property="og:image" content="http://www.afroyacadrum.cm/static/images/girl1.jpg" />
{% endblock %}

{% block title %}Oh Ma Box! | Afro Yaca Drum{% endblock %}

{% block custom_style %}
{% endblock %}

{% block content %}
  <section style="">
    <div className={`container ${classes.home_cover}`}>
      <div className="row" style={{ marginLeft: 0, marginRight: 0 }}>
        <div className={`col-md-6 ${classes.picBckg}`}>
        </div>
        <div className={`col-md-6 ${classes.text_cover}`}>
          <h3 className={`display-4 ${classes.mainTitle}`}>Découvrez le service OH! My box chez Afro Yaca Drum</h3>
          <h4 className={`display-4 ${classes.subTitle}`}>Composez votre sélection de vêtements à votre manière et sélectionnez ceux qui vous plaisent uniquement</h4>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block custom_js %}
{% endblock %}