<!-- templates/home.html-->
{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block meta_tags %}
  <meta name="description" content="Vente des vêtements afro, chics et tendances."
      xmlns:padding-left="http://www.w3.org/1999/xhtml"/>
  <meta name="keywords" content="AFY,Fashion,Mode,Afro" />
  <meta property="og:description" content="Vente des vêtements afro, chics et tendances" />
  <meta property="og:title" content="Afro Yaca Drum" />
  <meta property="og:url" content="http://www.afroyacadrum.cm" />
  <meta property="og:image" content="http://www.afroyacadrum.cm/static/images/acc.jpg" />
{% endblock %}

{% block title %}Products | Afro Yaca Drum{% endblock %}

{% block custom_style %}
{% endblock %}

{% block content %}
  <section style="background-color: white !important">
      <div id="all_products">

      </div>
    </section>
{% endblock %}

{% comment %}
  {% render_bundle 'all_products' 'js' %}
{% endcomment %}

{% block custom_js %}
  <script src="{% static 'ui/all_products.min.js' %}"></script>
{% endblock %}
