<!-- templates/home.html-->
{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block meta_tags %}
  <meta name="description" content="Vente des vêtements afro, chics et tendances."
      xmlns:padding-left="http://www.w3.org/1999/xhtml"/>
  <meta name="keywords" content="AFY,Fashion,Mode,Afro" />
  <meta property="og:description" content="Vente des vêtements afro, chics et tendances" />
  <meta property="og:title" content="{{ product.title }}" />
  <meta property="og:url" content="http://www.afroyacadrum.cm" />
  <meta property="og:image" content="{{ variety.get_single_picture }}" />
{% endblock %}

{% block title %}{{ product.title }} | Afro Yaca Drum{% endblock %}

{% block content %}
  <div id="single_product" style="background-color: white">
      <!-- React will load here -->
  </div>
{% endblock %}

{% comment %}
  {% render_bundle 'single_product' 'js' %}
{% endcomment %}

{% block custom_js %}
  <script src="{% static 'ui/single_product.min.js' %}"></script>
{% endblock %}
